[Desktop Entry]
Name=ChromeOsKDE
X-KDE-PluginInfo-Author=Zayronxio
X-KDE-PluginInfo-Name=ChromeOsKDE
X-KDE-PluginInfo-License=LGPL3.0
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-Website=https://store.kde.org/p/2055521/
X-KDE-PluginInfo-EnabledByDefault=true

[AdaptiveTransparency]
enabled=true
