[Desktop Entry]
Name=glowglass
Comment=simple mix of various themes glassified + air + Eleonoara etc
 
X-KDE-PluginInfo-Author=vicko
X-KDE-PluginInfo-Email=vcalles@gmail.com
X-KDE-PluginInfo-Name=glowglass
X-KDE-PluginInfo-Version=0.21
X-KDE-PluginInfo-Website=http://www.kde-look.org/content/show.php/glowglass+(plasma+theme)?content=112931
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
